#login-form {
  width: 60%;
  margin: 0 auto;
}

#page {
	.comment {
	  position: relative;
	  padding-top:    10px;
	  padding-bottom: 5px;
	  margin-bottom:  5px;
	  color: #d3d3d3;
	  background-color: #e6e6e6;
	  width: 70%;
	  margin: 0 auto;
	  min-height: auto;
	  overflow: hidden;

	 .commentBox {
	  display: flex;
	  flex-wrap: nowrap;
	  color: #555;
	  cursor: pointer;
	  padding: 5px;
	  margin-bottom: 20px;
	      padding-top: 4.5%;
 }
	.issue-title {
	font-size: 1.80em;
    padding-top: 3px;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-right: 10%;

 	}
 	h1 {
	    font-size: 1.66em;
	    font-weight:bold;
	 	color: black;
	 }
    .main-box {
		padding-top: 7.5px;
	    padding-left: 7.5%;
		margin: auto;
	    left: 40px;
	    justify-content: center;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
  	}
  	.user_login {
 		position: relative; 
 	}	
 	.user_image {
  		width:48px; 
 		height:48px;
   }
  	.avatar-box {
  		left: 0;
   		margin-right: 0px;
    	width: 100px;
    	margin-left: -7.5%;
  	}
  	.individual-comments {
  		width: 650px;
  		padding-right: 10px;
  		background-color: #d3d3d3;
  		border-radius: 12.5px;
   		border: 6px solid lavender;
  	}
  	.individual-comments-container{
  		padding-right: 100px;
  		padding-left: 100px;
  		p {
  			padding-left: 4.5%;
    		padding-right: 4.5%;
  		}
  		pre{
  		    display: block;
		    padding: 9.5px;
		    margin: 0 0 10px;
		    font-size: 13px;
		    line-height: 1.428571429;
		    color: #333333;
		    word-break: break-all;
		    word-wrap: break-word;
		    background-color: #f5f5f5;
		    border: 1px solid #cccccc;
		    border-radius: 4px;
		}
  	}
  	h1{
  		text-align: center;
		font-variant: small-caps;
		font-weight: 600;
		font-family: Impact, fantasy;
    	font-size: 50px;
	}
  	.comment-body {
  		width:80%;
  		background-color: #d3d3d3;
  		p {
  			padding-left: 4.5%;
    		padding-right: 4.5%;
  		}
  		pre{
	  		    display: block;
			    padding: 9.5px;
			    margin: 0 0 10px;
			    font-size: 13px;
			    line-height: 1.428571429;
			    color: #333333;
			    word-break: break-all;
			    word-wrap: break-word;
			    background-color: #f5f5f5;
			    border: 1px solid #cccccc;
			    border-radius: 4px;
			}
  		}
  	
  	  a{
  			color: black;
	   		margin-bottom: 100;
	    	font-size: 13px;
	    	font-weight: bold;
  		}
	  p {
	  		color: black;
	    	margin-bottom: 100;
	    	font-size: 15px;
	    	font-weight: 200;
	  	}
	  .badges {
	  	position: absolute;
	  	display: block;
   	    right: 17.5%;
    	margin-right: -17.5%; 
	}

	 
	}
}
